<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PepinoAPP - @ViewBag.Title</title>
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pepino Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    

                    
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    

                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Pepinos", "Index", "Pepino")</li>
                            <li>@Html.ActionLink("Agricultores", "Index", "Agricultor")</li>
                            <li>@Html.ActionLink("LogOut", "Logout", "Usuario")</li>
                        }

                        else
                        {
                            <li>@Html.ActionLink("Registrar", "CreateUsuario", "Usuario")</li>
                            <li>@Html.ActionLink("LogIn", "Login", "Usuario")</li>
                        }
                    }

                   
                </ul>
               
                
                        
                   
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        <p>@Context.User.Identity.Name</p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PepinoAPP</p>
        </footer>
    </div>

  
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</body>
</html>
